body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.header {
    background-color: #49b8dd;
    margin-bottom: 2vmin;
    display: flex;
    align-items: center;
  }

  .header a:hover {
    color: #175aa2;
  }
  
  .header>h1, h2, h4 {
    padding-left: 2vmin;
  }

  .containerH4{
    display: flex;
    margin-left: 33%;
  }

  h4{
    font-size: 17px;
  }
  
  .row {
    flex-direction: row;
  }
  
  .column{
    flex-direction: column;
  }

  a{
    color: black;
    
  }

  .github-button {
    position: fixed;
    right: 19px;
    top: 17px;
    width: 45px;
  } 

  @media (max-width: 1000px){
    .containerH4{
      margin-left: 20%;
    }
  }