div {
  display: flex;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.header>h1, h2, h4 {
  padding-left: 2vmin;
}

.row {
  flex-direction: row;
}

.column{
  flex-direction: column;
}

input[type="date"] {
  padding: 5px;
  border-radius: 8px;
  margin: 3px;
  border: 1px solid #9E9E9E;
}


input[type="date"]::before {
  content: attr(placeholder);
  color: gray;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "";
}
.header {
  background-color: #ADD8E6;
  margin-bottom: 2vmin;
}


/* 
Cinza claro: #F5F5F5
Cinza médio: #9E9E9E
Cinza escuro: #424242
Preto: #000000
Branco: #FFFFFF

Rosa claro: #FFB6C1
Azul claro: #ADD8E6
Verde claro: #90EE90
Amarelo claro: #FFFFE0
Lilás claro: #E6E6FA
Pêssego claro: #FFDAB9 */